extends admin-layout

block content-admin

    h5 A página de recursos foi visitada #{vis.recursos} vezes.
    h5 A página de projetos foi visitada #{vis.projetos} vezes.

    .w3-row-padding 
        .w3-col.m4 
            canvas(id="downloadrecursos")
        .w3-col.m4 
            canvas(id="downloadprojetos")
        .w3-col.m4 
            canvas(id="uploads")


    script(type ="text/javascript" src="/javascripts/chart.js")
    script(type ="text/javascript" src="/javascripts/charts.js") 


    script.
    
        var vis=!{JSON.stringify(vis)}
        var down=!{JSON.stringify(download)}
        var upload=!{JSON.stringify(upload)}
        

        //as variaveis ja estão com as cenas bem (acho) so tens de fazer a tua cena
        if(down["recursos"].length > 3){
            down["recursos"].push(["outros",down["recursos"].splice(3).reduce((carry,value)=>carry+value[1],0)])
        }
        

        labels=[]
        size=[]
        for(i of down_data){
            alert(i)
        }

        bgcolors=['Red','Yellow','Blue',"Green"]
        bgcolors.splice(down_data.length)